$body-color: rgb(77, 86, 93);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$green: rgb(31, 191, 174);
$blue: rgb(48, 146, 227);
$darker-blue: rgb(0, 108, 178);
$lighter-gray: rgb(205, 214, 222);
$gray: rgb(157, 173, 187);
$darker-gray: rgb(114, 129, 141);
$red: rgb(252, 30, 56);
$lighter-red: rgb(255, 125, 156);
$darker-red: rgb(203, 0, 38);
