@import './fonts';
@import './reset';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.4rem;
  color: $body-color;
}

input[type='text'],
select {
  border: 0.2rem solid rgba($gray, 0.2);
  padding: 0.8rem 0.5rem;
  transition: border-color 0.2s ease-in-out;

  &::placeholder {
    font-size: 1.4rem;
    font-weight: 300;
    color: $gray;
    font-family: 'Roboto', 'sans-serif';
  }

  &:focus {
    outline: none;
    border-color: $green;
  }
}

input[type='checkbox'] {
  width: 1.6rem;
  height: 1.6rem;
}

option {
  color: $body-color;
  font-size: 1.4rem;
}

label {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
  display: block;
}

button {
  font-size: 1.4rem;
  color: $white;
  width: 15.8rem;
  height: 5rem;
  border: none;
  padding: 0;
  border-radius: 0.6rem;
  cursor: pointer;
}

.button-danger {
  background-color: $red;

  &:disabled {
    background-color: $lighter-red;
    pointer-events: none;
    cursor: default;
  }

  &:hover {
    background-color: $darker-red;
  }
}

.button-outline {
  background-color: $white;
  border: 1px solid $green;
  color: $green;

  &:hover {
    background-color: rgba($green, 0.2);
  }
}

.button-primary {
  background-color: $blue;

  &:hover {
    background-color: $darker-blue;
  }
}
